java/PostgresTest.class
java/postgresql-42.7.3.jar
node/node_modules/
elixir/_build
elixir/mix.lock
elixir/deps
elixir/postgrex-test
dotnet/bin
dotnet/obj
dotnet/out
c/libaprutil-test
c/libdbi-test
c/postgres-c-connector-test
