name: Test
on: [pull_request]

concurrency:
  group: test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
        check-latest: true
      id: go
    - name: Build SQL Syntax
      run: ./build.sh
      working-directory: ./postgres/parser
      shell: bash
    - name: Test
      if: ${{ matrix.platform != 'ubuntu-latest' }}
      run: go test -skip="TestReplication" ./...
    - name: Test
      if: ${{ matrix.platform == 'ubuntu-latest' }}
      run: go test -race -skip="TestReplication" ./...
